* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4F6F52;
    color: #fff;
    padding: 15px;
    text-align: right;
    font-weight: bold;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 50px;
    font-weight: bold;
}

nav a.active {
    background-color: #416D19;
    color: #fff;
}

nav a:not(.active):hover {
    background-color: #A4CE95;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

.contact-wrapper {
    display: flex;
    align-items: center;
}

.image-container {
    flex: 0 0 auto; /* Make sure the image container doesn't grow */
    margin-right: 100px; /* Add margin to push the image to the left */
}

.image-container img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    display: block;
}


.contact-info {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Allow contact info to take remaining space */
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p {
    margin-top: 10px;
    color: #555;
}

.contact-info i {
    color: rgb(17, 16, 15);
    margin-right: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #739072;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #4c8f2d;
}
