body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/bg.png);
    background-position: top;
    background-size: cover;
}

header { 
    background-color: #4F6F52;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

nav {
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

h1 {
    margin: 0;
    text-align: center;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

p {
    margin: 0;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 100px;
}

a.book-now {
    display: inline-block;
    background-color: #416D19;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px auto;
}

a.book-now:hover {
    background-color: #4c8f2d;
}

.center-left {
    text-align: center; 
    width: 100%; 
    margin: 0 auto; 
}

.sample-works {
    display: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    padding: 5px;
}

.gallery img {
    width: 100%;
    height: auto;
    margin: 0;
}

/* Media Query for Tablets and Desktops */
@media only screen and (min-width: 768px) {
    header {
        padding: 20px;
    }

    nav {
        display: inline-block;
        margin-right: 20px;
    }

    nav a {
        margin: 0 10px;
    }

    h1 {
        margin-top: 150px;
        font-size: 60px;
    }

    p {
        margin-left: 50px;
        font-size: 18px;
    }

    a.book-now {
        margin: 20px auto;
    }

    .center-left {
        width: 70%;
    }

    .sample-works {
        display: block;
        width: 30%;
        position: fixed;
        top: 50px;
        right: 0%;
    }
}