body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(green1.jpg);
}
header { 
    background-color:#4F6F52;
    color: #fff;
    padding: 15px;
    text-align: right; 
    font-weight: bold;
}
nav a{
    color:#fff;
    text-decoration: none;
    margin: 0 50px ;
    font-weight: bold;
}
nav a.active {
    background-color: #416D19; 
    color: #fff; 
}

nav a:not(.active):hover {
    background-color: #A4CE95; 
}

.portfolio-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden; 
    margin-bottom: 2rem;
}

.portfolio-image {
    width: 20%;
    margin-right: 2%;
    flex-shrink: 0;
}

.portfolio-image:last-child {
    margin-right: 0;
}

.gallery-label {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: -0.05em;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.portfolio-label {
    text-align: center;
    margin-top: 2rem;
    padding: 10px 20px;
    border-radius: 80%;
    background-color: #4F6F52;
    color: white;
    font-family: 'Playfair Display', sans-serif; 
    font-size: 1.4rem; 
    font-weight: bold;
    letter-spacing: 1px; 
    text-transform: uppercase; 
    margin: 0 auto 20px; 
    width: fit-content; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
    border: 2px solid gold; 
}

.portfolio-label:hover {
    transform: translateY(-2px); 
}

@media (max-width: 768px) {
    .portfolio-image {
        width: 20%;
        margin-right: 2%;
    }
}

@media (max-width: 480px) {
    .portfolio-image {
        width: 100%;
        margin-right: 0;
    }
}